html {
  font-size: 30px;
}
/* a {
  text-decoration: none;
}
a:hover {
  color: #a52a2a;
  text-decoration: underline;
}

a:active {
  color: #e48888;
}

input:hover {
  border: 2px solid #a52a2a;
}

input:active {
  border: 1px solid #6d558d;
}

input:focus {
  outline: 1px solid #77be9d;
  outline-offset: 2px;
  border-radius: 5px;
}

button:hover {
  background-color: #9c77be;
  border: 1px dashed #26202b;
}

button:active {
  background-color: #53267c;
  border: 1px solid #252525;
}

button:focus-visible {
  outline: 2px solid #68bb88;
  outline-offset: 2px;
  border-radius: 5px;
} */
/* 
.button {
  padding: 8px 15px;
  background-color: #463535;
  color: #e9f5ff;
  outline: none;
  border: 1px solid #ff0303;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s 0.2s, color 0.5s 0.3s, transform 0.5s 0.4s ;
  animation: move-to-right 1s normal;
}

.button:hover {
  background-color: transparent;
  color: #463535;
  transform: scale(1.1);
}

@keyframes move-to-right {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0px);
  }
} */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 20px;
  font-family: sans-serif;
  background: radial-gradient(circle,#bd9595 0%, #9184d1 100%);
}

*, *::before {
  box-sizing: border-box;
}

.form {
  border: 2px solid #000000;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  padding: 30px;
  background: radial-gradient(circle,#ecc6c6 0%, #d2cbf0 100%);
}

.form-fs {
  border: none;
  padding: 0;
}

.form-legend {
  font-weight: 700;
  padding: 0;
  margin-bottom: 15px;
}

.label {
  display: inline-block;
  margin-bottom: 10px;
}

.input, textarea {
  width: 100%;
  padding: 5px 12px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 2px solid #000000;
  border-radius: 5px;
  min-height: 20px;
  background: linear-gradient(90deg, #ecc6c6 0%, #d2cbf0 100%);
}

textarea {
  resize: vertical;
  min-height: 30px;
  max-height: 200px;
  margin-bottom: 0;
}

.chb {
  appearance: none;
  outline: none;
}

.chb::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  margin-top: -15px;
  border: 1px solid #242424;
  border-radius: 4px;
  cursor: pointer;
}

.chb:checked::after {
  background: url("../img/check-icon.svg") no-repeat center, #b85f9d ;
}

.span {
  font-size: 16px;
  padding-left: 16px;
}

.button {
  border: none;
  border-radius: 5px;
  padding: 6px 18px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #d2a7d6;
  transition: opacity 0.3s;
}

.button:hover {
  opacity: 0.75;
}

.button:not(:disabled)active {
  background-color: #b85f9d;
}

.button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

input:focus-visible, textarea:focus-visible, .button:focus-visible,
.chb:focus-visible::after {
  outline: 2px solid #b85f9d;
  outline-offset: 2px;
}