html {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
}

body *,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

.text-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #535755;
}

.button:hover {
  opacity: 0.85;
  cursor: pointer;
}

.button:active {
  background-color: #246cac;
}

.button:disabled {
  opacity: 0.65;
  cursor: default;
}

a {
  text-decoration: none;
}

a:active {
  color: #246cac;
}

a,
button {
  outline: none;
}

a:focus-visible,
button:focus-visible,
summary:focus-visible {
  outline: 2px solid #3596ed;
  outline-offset: 1px;
}

.title-medium {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #2c332f;
}
