html {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
}

body *, *::after, *::before{
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

.text-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #535755;
}

.button:hover {
  opacity: 0.85;
  cursor: pointer;
}