.section {
  margin-bottom: 140px;
}

.hero {
  position: relative;
  padding-top: 80px;
}

.hero::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 48px;
  background: url("../media/decor-big.svg") repeat-x;
  bottom: 106px;
}

.hero-container {
  display: flex;
  align-items: center;
  gap: 28px;
}

.hero-h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 62px;
  line-height: 71px;
  text-transform: uppercase;
  color: #2c332f;
  margin-bottom: 40px;
}

.hero-h1 strong {
  color: #3596ed;
}

.hero-left .hero-p {
  margin-bottom: 140px;
  max-width: 440px;
}

.hero-button {
  display: inline-block;
  padding: 19px 32px;
  width: 270px;
  height: 57px;
  background: #3596ed;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  transition: opacity 0.2s, background-color 0.2s;
}

.hero-right {
  position: relative;
  display: flex;
}

.hero-choose {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 161px;
  text-align: center;
  border: 1px solid #535755;
  padding: 22px;
  background: #ffffffe6;
}

.news-h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 55px;
  text-transform: uppercase;
  color: #2c332f;
  margin-bottom: 40px;
}

.news-article {
  background: #fff;
  border: 1px solid #d3cbd9;
  width: 284px;
  height: 342px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.news-container {
  display: flex;
  gap: 28px;
}

.news-article img {
  display: block;
}

.news-info {
  padding: 20px 20px 0;
  margin-bottom: 12px;
}

.news-article footer {
  padding: 0 20px 20px;
  margin-top: auto;
}

.news-article time {
  display: block;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #858e8a;
  margin-bottom: 8px;
}

.news-h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #2c332f;
}

.news-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #3596ed;
}

.news-link::after {
  content: "";
  display: inline-block;
  width: 22px;
  height: 9px;
  background-image: url("../media/strelka.svg");
  transition: transform 0.2s;
}

.news-link:hover::after {
  transform: translateX(5px);
}

.faq {
  position: relative;
}

.faq::before {
  content: "";
  position: absolute;
  top: 215px;
  z-index: -1;
  width: calc(50% - 250px);
  height: 48px;
  background: url("../media/decor-big.svg") repeat-x;
}

.faq-container {
  display: flex;
  gap: 28px;
}

summary::-webkit-details-marker {
  display: none;
}

summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  list-style: none;
  padding: 20px;
  cursor: pointer;
}

summary::after {
  content: "";
  display: inline-block;
  width: 17px;
  height: 22px;
  background: url("../media/arrow2.svg") no-repeat center / cover;
}

details[open] summary::after {
  transform: rotate(180deg);
}

details {
  margin-bottom: 20px;
  border-block: 1px solid #d3cbd9;
}

details > p {
  padding: 0 20px 20px;
}
