.article {
  padding-top: 80px;
  margin-bottom: 120px;
}

.titles {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  line-height: 55px;
  text-transform: uppercase;
  color: #2c332f;
  margin-bottom: 40px;
  max-width: 596px;
}

.h1 {
  font-size: 48px;
  max-width: 596px;
}

.h2 {
  font-size: 36px;
}

.article-p {
  color: #535755;
  font-size: 16px;
  line-height: 130%;
}

.article-p:not(:last-child) {
  margin-bottom: 20px;
}

#article-p2 {
  margin-bottom: 80px;
}

.article-p2 {
  color: #535755;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 80px;
}

.article-mb {
  margin-bottom: 40px;
}

.img {
  width: 100%;
}

.article-decor-wrapper {
  position: relative;
}

.article-decor-wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: url(../media/decoration.svg) no-repeat;
  width: 528px;
  height: 48px;
}

.article-decor-wrapper-1::before {
  top: 100px;
  left: -350px;
}

.article-decor-wrapper-2::before {
  right: -350px;
  bottom: 136px;
}

.article-p3 {
  max-width: 744px;
}

.article-li {
  padding-left: 22px;
}

.article-item:not(:last-child) {
  margin-bottom: 12px;
}

.article-item::marker {
  color: #3596ed;
  font-size: 22px;
}

.article-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: none;
  background-color: #3596ed;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.2s, background-color 0.2s;
}

.article-button:hover {
  opacity: 0.85;
  cursor: pointer;
}

.article-button:active {
  color: #246cac;
}
